
@import '~antd/dist/antd.css';


.loginForm{
    padding-top: 15%;
    background-color: rgb(240, 231, 231);
    height: 100vh;
}

#components-form-demo-normal-login .login-form {
    max-width: 300px;
  }
  #components-form-demo-normal-login .login-form-forgot {
    float: right;
  }
  #components-form-demo-normal-login .ant-col-rtl .login-form-forgot {
    float: left;
  }
  .login-form-button {
    width: 100%;
  }